body {
    margin: 0;
}

header {
    background-color: white;
}

.header-wrap {
    width: 100%;
    margin: auto;
    padding: 22px 0 22px 22px;
}

header .btn-logo {
    height: 75px;
}

header .btn-join {
    display: block;
    padding: 1em 1em 1em 2.8em;
    margin: 10px;
    float: right;
    text-decoration: none;
    color: #5a6a72;
    background: url(../img/icon-join.svg) no-repeat 0 center/ 2em;
}

/* main */
main {
    width: 392px;
    margin: 71px auto;
}

main h1 {
    text-align: center;
    font-size: 24px;
}

main h1 img {
    display: block;
    height: 120px;
    margin: auto;
    margin-bottom: 29px;
}

main h1 strong {
    line-height: 16px;
    box-shadow: inset 0 -11px rgba(255, 79, 110, 0.2);
    border-bottom: 1px solid #ff4f6e;
}

footer p {
    font-size: 12px;
}