img {
	vertical-align: top;
}

body {
    background-image: url(images/bg.png);
    color: #fff;
}

.box {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

img.fox {
    display: block;
    margin: auto;
    width: 250px;
    height: 200px;
}

img.paint {
    width: 300px;
}

.text-box {
    width: 260px;
    background: rgb(174, 69, 69);
    border-radius: 0 0 10% 10%;
    padding: 10px 20px 20px 20px;
    box-shadow: inset 5px 5px brown;
}