img {
	vertical-align: top;
}

body {
    background-image: url(images/bg.png);
    color: #fff;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fox {
    width: 250px;
}

.green {
    width: 300px;
}

.text-box {
    width: 260px;
    background: rgb(147, 92, 34);
    border-radius: 0 0 10% 10%;
    padding: 0 20px 20px 20px;
    box-shadow: inset 0 -10px 0 0 rgb(108, 62, 32);
}