/* .container {
    display: flex;
    flex-direction: row;
    gap: 10px;
} */
.box {
    width: 100px;
    height: 100px;
    background: purple;
    margin: 10px;
}

.item1 {
    border-radius: 50%;
}