/* reset  */
body, div, section, h1, button, p {
    margin: 0;
    padding: 0;
}

button {
    border: none;
}

img {
    vertical-align: top;
}


/* hidden */
.a11y-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

/* layout */
.wrap {
    box-shadow: inset 0 0 10px black;
    width: 520px;
    margin: 0 auto;
}

section {
    box-shadow: inset 0 0 10px red;
    position: relative;
}

input {
    display: block;
    width: 472px;
}

input .login-state {
    position: absolute;
    left: 0;
}

button {
    display: block;
}